@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Helvetica Now Variable";
  src: url("https://fonts.contraption.co/helvetica-now-roman/font.woff2") format("woff2"),
    url("https://fonts.contraption.co/helvetica-now-roman/font.woff") format("woff");
  font-weight: 100 900;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Helvetica Now Variable";
  src: url("https://fonts.contraption.co/helvetica-now-italic/font.woff2") format("woff2"),
    url("https://fonts.contraption.co/helvetica-now-italic/font.woff") format("woff");
  font-weight: 100 900;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: "TX-02-Data";
  src: url("https://fonts.contraption.co/TX-02/TX-02-Data-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "TX-02-Data";
  src: url("https://fonts.contraption.co/TX-02/TX-02-Data-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

html,
body {
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::selection {
  background-color: #fee53f;
  color: #000000;
}

body {
  @apply bg-gray-050 text-gray-900;
}

a {
  @apply underline decoration-gray-200 underline-offset-4 hover:decoration-gray-400;
}

@layer components {
  .content-container {
    @apply mx-auto w-full max-w-6xl px-6;
  }
}
