name: CI

on:
  workflow_dispatch:

env:
  GHCR_IMAGE: ghcr.io/sredevopsorg/trivet
  

permissions:  # added using https://github.com/step-security/secure-repo
  contents: read

jobs:
  build:
    permissions:
      packages: write
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        name: Checkout repository
        with:
          fetch-depth: 1

      # - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      #   with:
      #     version: "10"
      #     run_install: false

      # - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
      #   with:
      #     node-version: "20"
      #     cache: "pnpm"

      # - name: Install dependencies
      #   run: pnpm install

      # - name: Prisma generate
      #   run: pnpm prisma:generate

      # - name: Typecheck
      #   run: pnpm check

      # - name: Lint
      #   run: pnpm lint

      # - name: Format check
      #   run: pnpm format:check

      # - name: Build
      #   run: pnpm build

#      - name: Docker build
#        run: docker build -t trivet .

      - name: Docker meta default
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: ${{ env.GHCR_IMAGE }}
          tags: |
            type=ref,event=branch
            type=ref,event=tag
            type=sha,format=short
          annotations: |
            org.opencontainers.image.created={{.Date}}
          labels: |
            org.opencontainers.image.source=${{ github.repository }}
            org.opencontainers.image.url=${{ github.event.repository.html_url }}
            org.opencontainers.image.revision=${{ github.sha }}

      - name: Set up Docker Context for Buildx
        id: buildx-context
        run: |
          docker context create builders
          
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
        with:
          endpoint: builders

      -
        name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}


      - name: Build and push Docker image
        id: build
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        env:
          DOCKER_BUILDKIT: 1
        with:
          context: .
          file: Dockerfile
          push: true
          labels: ${{ steps.meta.outputs.labels }}
          annotations: ${{ steps.meta.outputs.annotations }}
          tags: ${{ steps.meta.outputs.tags }}
          outputs: type=image,name=${{ env.GHCR_IMAGE }},name-canonical=true,push=true,oci-mediatypes=true
          cache-from: type=gha
          cache-to: type=gha,mode=max

